.navbar {
  background-color: #f1211143;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #ffe4e1;
}

#projects {
  background-color: #ffe4e1;
}

.footer {
  background-color: #f1211143;
}

section {
  padding-top: 5rem;
}
